<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.darina">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Darina">
        <activity
            android:name=".adding"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".Statiscticspage"
            android:exported="true" />
        <activity
            android:name=".Planpage"
            android:exported="true" />
        <activity
            android:name=".Mainpage"
            android:exported="true" />
        <activity
            android:name=".Planpage2"
            android:exported="true" />
        <activity
            android:name=".Final_darina_umetalieva"
            android:exported="true" />
        <activity
            android:name=".signincard"
            android:exported="true" />
        <activity
            android:name=".Signin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>